numpy
pandas
nltk
numpy
matplotlib
seaborn
scikit-learn
jupyter
ipyleaflet
shinylive
mesa
pdf2image
plotly
pillow
pdf2image
faker
python-frontmatter
pyyaml
#pomegranate
#te
# pymc
# aesara
PyLD
xarray
xgboost
shap
itables
graphviz
lime