numpy
xarray
pandas
statsmodels
matplotlib
seaborn
plotly
altair
scikit-learn
tabulate
itables
nltk
jupyter
ipyleaflet
shinylive
mesa
pdf2image
pillow
pdf2image
faker
python-frontmatter
pyyaml
#pomegranate
#te
# pymc
# aesara
PyLD
xgboost
shap
graphviz
lime
PyMuPDF
pymupdf-fonts
fonttools
