numpy
xarray
pandas
statsmodels
matplotlib
seaborn
plotly
altair
bokeh 
pydeck
shinywidgets
scikit-learn
tabulate
itables
nltk
jupyter
ipyleaflet
pdf2image
pillow
pdf2image
faker
python-frontmatter
pyyaml
#pomegranate
#te
pymc3
pymc>=5
# aesara
PyLD
xgboost
shap
graphviz
lime
PyMuPDF
pymupdf-fonts
fonttools
jupyter-cache
wheel
joblib
networkx
agentpy
shinylive
#==0.2.2
shiny
htmltools
#plato-learn
jax
trax
mesa
tqdm
semantic-kernel
transformers
tensorflow[and-cuda]
tensorflow-probability
gymnasium
#mesa
#mesa_models @ git+https://github.com/projectmesa/mesa-examples#egg=mesa-models
pettingzoo